

nav{
  background-color: chocolate;
  padding: 1rem;
  text-align: center;
}

.nav-link{
  padding: 0 1rem;
  color: #fff;
}

/* Table */

table{
  margin: 0 auto;
}

 th {
  background-color: #eceff1;
  color: #000000;
  padding: .5rem 1rem;
}

td {
  background-color: #ffffff;
  color: #000000;
  padding: .5rem 1rem;
}

td button{
  margin: 0 6px;
}
